body {

    background:
    #050505;

    color:
    #d6deeb;

    font-family:
    "JetBrains Mono",
    "Fira Code",
    "Cascadia Code",
    Consolas,
    monospace;

}


.terminal {

    width:
    85%;

    margin:
    50px auto;

    padding:
    30px;

    border:
    1px solid #38bdf8;

    box-shadow:
    0 0 20px #38bdf8;

}


.writeup-card {

    border-left:
    3px solid #38bdf8;

    padding:
    20px;

    margin:
    20px 0;

}


a {

    color:
    #facc15;

}
